/* body {
  background-color: #f0f0f0;
} */

.forme {
  max-width: 600px; /* Ajustez la largeur maximale du formulaire si nécessaire */
  margin: 0 auto; /* Centre le formulaire horizontalement */
  padding: 20px;
  background: #f0f0f0; /* Arrière-plan blanc pour le formulaire */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 2px solid #de6f43;
}

.input-field {
  position: relative;
  margin-bottom: 20px;
}

.input-field i {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
}

.input-field input {
  width: 100%;
  padding: 10px 15px;
  padding-left: 40px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #f9f9f9;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #de6f43 !important ;
  border: none;
  color: #fff !important;
  border-radius: 5px;
  cursor: pointer;
}

.btn.solid {
  background-color: #de6f43 !important ;
  color: #fff !important;

}

.btn.solid:hover {
  background-color: white !important; 
  color: #de6f43 !important;
}

.text.sign-up-text {
  margin-top: 20px;
  text-align: center;
}

.text.sign-up-text a {
  color: rgb(89, 85, 85);
  text-decoration: none;
}

.name-container {
  display: flex;
  gap: 10px; /* Espace entre les champs Nom et Prénom */
}

.name-container .input-field {
  flex: 1; /* Les champs prennent chacun la même largeur */
}

@media (max-width: 700px) {
  .name-container {
      flex-direction: column;
  }

  .name-container .input-field {
      margin-bottom: 10px;
  }

  .input-field {
      margin-bottom: 15px;
  }
}
.back-to-top{
  width: 48px !important;
  height: 48px !important;
}