<!-- Include  navigation bar -->
<%- include('../partials/topbar') %>
<%- include('../partials/navbar') %>
<%- include('../partials/titre_header') %>



 


 
   <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
       <div class="container py-5">
           <div class="row g-5">
               <!-- Blog list Start -->
               <div class="col-lg-8">
                   <div class="row g-5">
                       <div class="col-md-6 wow slideInUp" data-wow-delay="0.1s">
                           <div class="blog-item bg-light rounded overflow-hidden">
                               <div class="blog-img position-relative overflow-hidden">
                                   <img class="img-fluid" src="img/ac.jpg" alt="">
                               </div>
                               <div class="p-4">
                                   <div class="d-flex mb-3">
                                       <small class="me-3"><i class="far fa-user text-primary me-2"></i>Speaker 1</small>
                                       <small><i class="far fa-calendar-alt text-primary me-2"></i>01 Janv, 2024</small>
                                   </div>
                                   <h4 class="mb-3">Lancement du Nouveau Système SAM </h4>
                                   <p>Le nouveau Système d'Administration et de Management a été lancé à Casablanca. Cet événement marque une étape importante pour améliorer la gestion administrative dans les entreprises marocaines</p>
                                   <a class="text-uppercase" href="">Voir Plus <i class="bi bi-arrow-right"></i></a>
                               </div>
                           </div>
                       </div>
                       <div class="col-md-6 wow slideInUp" data-wow-delay="0.6s">
                           <div class="blog-item bg-light rounded overflow-hidden">
                               <div class="blog-img position-relative overflow-hidden">
                                   <img class="img-fluid" src="img/ac 2.jpg" alt="">
                                  
                               </div>
                               <div class="p-4">
                                   <div class="d-flex mb-3">
                                       <small class="me-3"><i class="far fa-user text-primary me-2"></i>Speaker 2</small>
                                       <small><i class="far fa-calendar-alt text-primary me-2"></i>10 octobre, 2024</small>
                                   </div>
                                   <h4 class="mb-3">Conférence SAM à Rabat</h4>
                                   <p>a conférence SAM 2024 se tiendra à Rabat. Des experts partageront des insights sur l'optimisation des systèmes d'administration pour les entreprises marocaines</p>
                                   <a class="text-uppercase" href="">Voir plus <i class="bi bi-arrow-right"></i></a>
                               </div>
                           </div>
                       </div>
                       <div class="col-md-6 wow slideInUp" data-wow-delay="0.1s">
                           <div class="blog-item bg-light rounded overflow-hidden">
                               <div class="blog-img position-relative overflow-hidden">
                                   <img class="img-fluid" src="img/ac3.jpg" alt="">
                               </div>
                               <div class="p-4">
                                   <div class="d-flex mb-3">
                                       <small class="me-3"><i class="far fa-user text-primary me-2"></i>speakers</small>
                                       <small><i class="far fa-calendar-alt text-primary me-2"></i>28 Nouvembre, 2023</small>
                                   </div>
                                   <h4 class="mb-3">Atelier SAM à Marrakech</h4>
                                   <p>Un atelier de formation sur les systèmes SAM est prévu à Marrakech. Les participants apprendront comment intégrer efficacement ces systèmes pour améliorer la gestion des affaires</p>
                                   <a class="text-uppercase" href="">Voir Plus <i class="bi bi-arrow-right"></i></a>
                               </div>
                           </div>
                       </div>
                       <div class="col-md-6 wow slideInUp" data-wow-delay="0.6s">
                           <div class="blog-item bg-light rounded overflow-hidden">
                               <div class="blog-img position-relative overflow-hidden">
                                   <img class="img-fluid" src="img/ac4.jpg" alt="">
                               </div>
                               <div class="p-4">
                                   <div class="d-flex mb-3">
                                       <small class="me-3"><i class="far fa-user text-primary me-2"></i>Speaker 4</small>
                                       <small><i class="far fa-calendar-alt text-primary me-2"></i>15 Jan, 2025</small>
                                   </div>
                                   <h4 class="mb-3">Webinaire SAM pour les Entreprises Marocaines</h4>
                                   <p>Un webinaire sur les tendances et innovations des systèmes SAM aura lieu en ligne, visant à aider les entreprises marocaines à tirer parti des nouvelles technologies</p>
                                   <a class="text-uppercase" href="">Voir Plus <i class="bi bi-arrow-right"></i></a>
                               </div>
                           </div>
                       </div>
                       <div class="col-md-6 wow slideInUp" data-wow-delay="0.1s">
                           <div class="blog-item bg-light rounded overflow-hidden">
                               <div class="blog-img position-relative overflow-hidden">
                                   <img class="img-fluid" src="img/ac5.jpg" alt="">
                                   
                               </div>
                               <div class="p-4">
                                   <div class="d-flex mb-3">
                                       <small class="me-3"><i class="far fa-user text-primary me-2"></i>Speaker 5</small>
                                       <small><i class="far fa-calendar-alt text-primary me-2"></i>18 juin, 2023</small>
                                   </div>
                                   <h4 class="mb-3">Salon SAM à Tanger</h4>
                                   <p>Le salon SAM 2024 se déroulera à Tanger, rassemblant fournisseurs de solutions SAM et professionnels pour découvrir les dernières avancées en gestion et administration</p>
                                   <a class="text-uppercase" href="">Voir Plus <i class="bi bi-arrow-right"></i></a>
                               </div>
                           </div>
                       </div>
                       <div class="col-md-6 wow slideInUp" data-wow-delay="0.6s">
                           <div class="blog-item bg-light rounded overflow-hidden">
                               <div class="blog-img position-relative overflow-hidden">
                                   <img class="img-fluid" src="img/ac6.jpg" alt="">
                               </div>
                               <div class="p-4">
                                   <div class="d-flex mb-3">
                                       <small class="me-3"><i class="far fa-user text-primary me-2"></i>Speaker 6</small>
                                       <small><i class="far fa-calendar-alt text-primary me-2"></i>02 Jan, 2024</small>
                                   </div>
                                   <h4 class="mb-3">Webinaire SAM</h4>
                                   <p>Webinaire sur les innovations SAM, dédié aux entreprises marocaines, pour améliorer leur gestion</p>
                                   <a class="text-uppercase" href="">Voir plus <i class="bi bi-arrow-right"></i></a>
                               </div>
                           </div>
                       </div>
                       <div class="col-md-6 wow slideInUp" data-wow-delay="0.1s">
                           <div class="blog-item bg-light rounded overflow-hidden">
                               <div class="blog-img position-relative overflow-hidden">
                                   <img class="img-fluid" src="img/ac7.jpg" alt="">
                               </div>
                               <div class="p-4">
                                   <div class="d-flex mb-3">
                                       <small class="me-3"><i class="far fa-user text-primary me-2"></i>John Doe</small>
                                       <small><i class="far fa-calendar-alt text-primary me-2"></i>01 Jan, 2045</small>
                                   </div>
                                   <h4 class="mb-3">Salon de l'Innovation Technologique à Rabat</h4>
                                   <p>Salon de l'Innovation Technologique à Rabat, présentant les dernières innovations en matière de technologie et de digitalisation pour les entreprises</p>
                                   <a class="text-uppercase" href="">Voir Plus <i class="bi bi-arrow-right"></i></a>
                               </div>
                           </div>
                       </div>
                       <div class="col-md-6 wow slideInUp" data-wow-delay="0.6s">
                           <div class="blog-item bg-light rounded overflow-hidden">
                               <div class="blog-img position-relative overflow-hidden">
                                   <img class="img-fluid" src="img/al-moutmir-.jpg" alt="">
                               </div>
                               <div class="p-4">
                                   <div class="d-flex mb-3">
                                       <small class="me-3"><i class="far fa-user text-primary me-2"></i>spaeker 8</small>
                                       <small><i class="far fa-calendar-alt text-primary me-2"></i>21 Jan, 2025</small>
                                   </div>
                                   <h4 class="mb-3">ournée de Volontariat à Agadir</h4>
                                   <p>Journée de volontariat à Agadir, où les bénévoles participeront à des activités de nettoyage et de sensibilisation pour la protection de l'environnement</p>
                                   <a class="text-uppercase" href="">Voir Plus <i class="bi bi-arrow-right"></i></a>
                               </div>
                           </div>
                       </div>
                       <div class="col-md-6 wow slideInUp" data-wow-delay="0.1s">
                           <div class="blog-item bg-light rounded overflow-hidden">
                               <div class="blog-img position-relative overflow-hidden">
                                   <img class="img-fluid" src="img/attaouia-moutmir.png" alt="">
                                  
                               </div>
                               <div class="p-4">
                                   <div class="d-flex mb-3">
                                       <small class="me-3"><i class="far fa-user text-primary me-2"></i>spaeker 9</small>
                                       <small><i class="far fa-calendar-alt text-primary me-2"></i>22 Jan, 2025</small>
                                   </div>
                                   <h4 class="mb-3">Exposition d'Art Contemporain à Marrakech</h4>
                                   <p>Exposition d'art contemporain à Marrakech mettant en avant les œuvres d'artistes marocains et internationaux, avec des ateliers et des discussions sur l'art</p>
                                   <a class="text-uppercase" href="">Voir plus <i class="bi bi-arrow-right"></i></a>
                               </div>
                           </div>
                       </div>
                       <div class="col-md-6 wow slideInUp" data-wow-delay="0.6s">
                           <div class="blog-item bg-light rounded overflow-hidden">
                               <div class="blog-img position-relative overflow-hidden">
                                   <img class="img-fluid" src="img/6476738f42360401f32f7742.jpg" alt="">
                                   
                               </div>
                               <div class="p-4">
                                   <div class="d-flex mb-3">
                                       <small class="me-3"><i class="far fa-user text-primary me-2"></i>spaeker 10</small>
                                       <small><i class="far fa-calendar-alt text-primary me-2"></i>11 Dec, 2024</small>
                                   </div>
                                   <h4 class="mb-3">Conférence sur l'Entrepreneuriat à Casablanca</h4>
                                   <p>Conférence sur l'entrepreneuriat à Casablanca, réunissant des start-up et des investisseurs pour discuter des opportunités et des défis dans le secteur des affaires</p>
                                   <a class="text-uppercase" href="">Voir Plus <i class="bi bi-arrow-right"></i></a>
                               </div>
                           </div>
                       </div>
                       <div class="col-12 wow slideInUp" data-wow-delay="0.1s">
                           <nav aria-label="Page navigation">
                             <ul class="pagination pagination-lg m-0">
                               <li class="page-item disabled">
                                 <a class="page-link rounded-0" href="#" aria-label="Previous">
                                   <span aria-hidden="true"><i class="bi bi-arrow-left"></i></span>
                                 </a>
                               </li>
                               <li class="page-item active"><a class="page-link" href="#">1</a></li>
                               <li class="page-item"><a class="page-link" href="#">2</a></li>
                               <li class="page-item"><a class="page-link" href="#">3</a></li>
                               <li class="page-item">
                                 <a class="page-link rounded-0" href="#" aria-label="Next">
                                   <span aria-hidden="true"><i class="bi bi-arrow-right"></i></span>
                                 </a>
                               </li>
                             </ul>
                           </nav>
                       </div>
                   </div>
               </div>
               <!-- Blog list End -->
   
               <!-- Sidebar Start -->
               <div class="col-lg-4">
                   <!-- Search Form Start -->
                   <div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
                       <div class="input-group">
                           <input type="text" class="form-control p-3" placeholder="Keyword">
                           <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                       </div>
                   </div>
                   <!-- Search Form End -->
   
                   <!-- Category Start -->
                   <div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
                       <div class="section-title section-title-sm position-relative pb-3 mb-4">
                           <h3 class="mb-0">Catégories</h3>
                       </div>
                       <div class="link-animated d-flex flex-column justify-content-start">
                           <a class="h5 fw-semi-bold bg-light rounded py-2 px-3 mb-2" href="#"><i class="bi bi-arrow-right me-2"></i>Gestion des Projets</a></a>
                           <a class="h5 fw-semi-bold bg-light rounded py-2 px-3 mb-2" href="#"><i class="bi bi-arrow-right me-2"></i>Analyse des Données</a>
                           <a class="h5 fw-semi-bold bg-light rounded py-2 px-3 mb-2" href="#"><i class="bi bi-arrow-right me-2"></i>Optimisation des Processus</a>
                           <a class="h5 fw-semi-bold bg-light rounded py-2 px-3 mb-2" href="#"><i class="bi bi-arrow-right me-2"></i>Automatisation</a>
                           <a class="h5 fw-semi-bold bg-light rounded py-2 px-3 mb-2" href="#"><i class="bi bi-arrow-right me-2"></i>Gestion des Ressources</a>
                       </div>
                   </div>
                   <!-- Category End -->
   
                   <!-- Recent Post Start -->
                   <div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
                       <div class="section-title section-title-sm position-relative pb-3 mb-4">
                           <h3 class="mb-0">Dernière Actualités</h3>
                       </div>
                       <div class="d-flex rounded overflow-hidden mb-3">
                           <img class="img-fluid" src="img/ac 2.jpg" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                           <a href="" class="h5 fw-semi-bold d-flex align-items-center bg-light px-3 mb-0">"Séminaire SAM à Agadir : Optimisation des Processus Administratifs"
                           </a>
                       </div>
                       <div class="d-flex rounded overflow-hidden mb-3">
                           <img class="img-fluid" src="img/attaouia-moutmir.png" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                           <a href="" class="h5 fw-semi-bold d-flex align-items-center bg-light px-3 mb-0">"Forum SAM à Casablanca : Vers une Gestion Moderne et Efficace"
                           </a>
                       </div>
                       <div class="d-flex rounded overflow-hidden mb-3">
                           <img class="img-fluid" src="img/ac6.jpg" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                           <a href="" class="h5 fw-semi-bold d-flex align-items-center bg-light px-3 mb-0">"Journée d'Échange sur les Systèmes SAM à Rabat"
                           </a>
                       </div>
                       <div class="d-flex rounded overflow-hidden mb-3">
                           <img class="img-fluid" src="img/ac5.jpg" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                           <a href="" class="h5 fw-semi-bold d-flex align-items-center bg-light px-3 mb-0">"Rencontre SAM à Marrakech : Innovations pour la Gestion Administrative"
                           </a>
                       </div>
                       <div class="d-flex rounded overflow-hidden mb-3">
                           <img class="img-fluid" src="img/ac7.jpg" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                           <a href="" class="h5 fw-semi-bold d-flex align-items-center bg-light px-3 mb-0">"Colloque SAM à Tanger : Vers une Administration Plus Efficace"
                           </a>
                       </div>
                       <div class="d-flex rounded overflow-hidden mb-3">
                           <img class="img-fluid" src="img/6476738f42360401f32f7742.jpg" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                           <a href="" class="h5 fw-semi-bold d-flex align-items-center bg-light px-3 mb-0">
                               "Symposium SAM à Agadir : Réinventer la Gestion Administrativa"
                           </a>
                       </div>
                   </div>
                   <!-- Recent Post End -->
   
                   <!-- Image Start -->
                   <div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
                       <img src="img/blog-1.jpg" alt="" class="img-fluid rounded">
                   </div>
                   <!-- Image End -->
   
                   <!-- Tags Start -->
                   <div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
                       <div class="section-title section-title-sm position-relative pb-3 mb-4">
                           <h3 class="mb-0">Nuage de Tags</h3>
                       </div>
                       <div class="d-flex flex-wrap m-n1">
                           <a href="" class="btn btn-light m-1">Gestion</a>
                           <a href="" class="btn btn-light m-1">Administration</a>
                           <a href="" class="btn btn-light m-1">Optimisation</a>
                           <a href="" class="btn btn-light m-1">Technologie</a>
                           <a href="" class="btn btn-light m-1">Performance</a>
                           <a href="" class="btn btn-light m-1">Analyse</a>
                           <a href="" class="btn btn-light m-1">Gestion</a>
                           <a href="" class="btn btn-light m-1">Administration</a>
                           <a href="" class="btn btn-light m-1">Optimisation</a>
                           <a href="" class="btn btn-light m-1">Technologie</a>
                           <a href="" class="btn btn-light m-1">Performance</a>
                           <a href="" class="btn btn-light m-1">Analyse</a>
                       </div>
                       
                   </div>
                   <!-- Tags End -->
   
                   <!-- Plain Text Start -->
                   <div class="wow slideInUp" data-wow-delay="0.1s">
                       <div class="section-title section-title-sm position-relative pb-3 mb-4">
                           <h3 class="mb-0">À Propos de SAM</h3>
                       </div>
                       <div class="bg-light text-center" style="padding: 30px;">
                           <p>Le Système d'Administration et de Management (SAM) est conçu pour optimiser les processus administratifs et de gestion au sein des organisations. Il permet une meilleure gestion des ressources, une analyse approfondie des données, et une amélioration continue des performances. Découvrez comment SAM peut transformer votre approche de la gestion et contribuer à l'efficacité de votre entreprise.</p>
                           <a href="" class="btn btn-primary py-2 px-4">En savoir plus</a>
                       </div>
                   </div>
                   
                   <!-- Plain Text End -->
               </div>
               <!-- Sidebar End -->
           </div>
       </div>
   </div>
   <!-- Blog End -->


 




<!-- Include  footer -->
<%- include('../partials/footer') %>