<!-- Include  navigation bar -->
<%- include('../partials/topbar') %>
<%- include('../partials/navbar') %>
<%- include('../partials/titre_header') %>


<h2> evenements</h2>
    <!-- Quote Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-7">
                    <div class="section-title position-relative pb-3 mb-5">
                        <!-- <h5 class="fw-bold text-primary text-uppercase">Request A Quote</h5> -->
                        <h1 class="mb-0">Informations récentes sur la production végétale et la protection des plantes</h1>
                    </div>
                    <div class="row gx-3">
                        <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">
                            <h5 class="mb-4"><i class="fa fa-reply text-primary me-3"></i>Réponse dans les 24 heures</h5>
                        </div>
                        <div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s">
                            <h5 class="mb-4"><i class="fa fa-phone-alt text-primary me-3"></i>Assistance téléphonique 24 heures</h5>
                        </div>
                    </div>
                    <p class="mb-4">Les récentes prévisions pour 2024 en matière de production végétale indiquent une légère augmentation des rendements pour des cultures clés comme le maïs et le soja, malgré les défis posés par le changement climatique. En ce qui concerne la protection des plantes, l'accent est mis sur l'adoption de pratiques de gestion intégrée des ravageurs (IPM) et l'utilisation de technologies innovantes pour lutter contre les parasites et les maladies. Le soutien des producteurs par l'USDA se poursuit, notamment grâce à des analyses et des prévisions visant à encourager des pratiques agricoles durables et résilientes face aux conditions environnementales changeantes​</p>
                    <div class="d-flex align-items-center mt-2 wow zoomIn" data-wow-delay="0.6s">
                        <div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
                            <i class="fa fa-phone-alt text-white"></i>
                        </div>
                        <div class="ps-4">
                            <h5 class="mb-2">Appelez pour poser n’importe quelle question</h5>
                            <h4 class="text-primary mb-0">+012 345 6789</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="bg-primary rounded h-100 d-flex align-items-center p-5 wow zoomIn" data-wow-delay="0.9s">
                        <!-- <form>
                            <div class="row g-3">
                                <div class="col-xl-12">
                                    <input type="text" class="form-control bg-light border-0" placeholder="Your Name" style="height: 55px;">
                                </div>
                                <div class="col-12">
                                    <input type="email" class="form-control bg-light border-0" placeholder="Your Email" style="height: 55px;">
                                </div>
                                <div class="col-12">
                                    <select class="form-select bg-light border-0" style="height: 55px;">
                                        <option selected>Select A Service</option>
                                        <option value="1">Service 1</option>
                                        <option value="2">Service 2</option>
                                        <option value="3">Service 3</option>
                                    </select>
                                </div>
                                <div class="col-12">
                                    <textarea class="form-control bg-light border-0" rows="3" placeholder="Message"></textarea>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-dark w-100 py-3" type="submit">Request A Quote</button>
                                </div>
                            </div>
                        </form> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Quote End -->


    <!-- Vendor Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5 mb-5">
            <div class="bg-white">
                <div class="owl-carousel vendor-carousel organisess"  style=" display: flex;justify-content: center; align-items: center;">
                    <img src="img/OIP.jpg" alt="">
                    <img src="img/34806.jpg" alt="">
                    <img src="img/AlMoutmirFR.png" alt="">
                    <img src="img/OIP.jpg" alt="">
                    <img src="img/34806.jpg" alt="">
                    <img src="img/AlMoutmirFR.png" alt="">
                    <img src="img/OIP.jpg" alt="">
                    <img src="img/34806.jpg" alt="">
                    <img src="img/AlMoutmirFR.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor End -->
   
<%# footer %>
<%- include('../partials/footer') %>